@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body { margin:0px; padding:0px; }

.navbar-footer {
    background-color: rgb(210,218,226);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.brand-footer {
    color: rgb(210,218,226);
    padding-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    
}

