@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body { margin:0px; padding:0px; }

.navbar-footer {
    background-color: rgb(241, 197, 197);
}

.brand-footer {
    color: rgb(136, 94, 94);
    padding-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    margin: 0 auto;
}

