@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body { 
    margin:0px; 
    padding:0px; 
    background-color: #F7F7F7;
}


header {
    height: 360px;
    z-index: 10;
}

.header-banner {
    background-color: #333;
    background: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

header h1.h1-b0 {
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem; 
    left: 2rem;
    font-size: 10em;
    margin: -4vh 40vh;
    text-shadow: 4px 4px #8bcdcd;
}

header h2.h2-b1 {
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem; 
    left: 2rem;
    font-size: 3em;
    margin: 18vh 0 0 41vh;
    text-shadow: 5px 5px 10px #000;
}

header h2.h2-b2 {
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem; 
    left: 2rem;
    font-size: 3em;
    margin: 25vh 0 0 41vh;
    text-shadow: 5px 5px 10px #000;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

nav {
    width: 100%;
    height: 60px;
    background-color: #d2dae2;
    postion: fixed;
    z-index: 10;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.5);
}

nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}

nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li { 
    display: inline-block; 
    line-height: 60px;
    /*margin-left: 10px;*/
}
nav ul li a {
    text-decoration: none; 
    color: #1e272e;
}

/* demo content */
body { 
    color: #292f36;
    font-family: 'Kanit', sans-serif;
    line-height: 1.6;
}
.content{ 
    margin: 0 auto;
    padding: 4rem 0;
    width: 960px;
    max-width: 100%;
}
article {
    float: left;
    width: 720px;
}
article p:first-of-type {
    margin-top: 0;
}
aside {
    float: right;
    width: 120px;
}
p img {
    max-width: 100%;
}

.breadcrumb-menu {
    background-color: rgb(234, 242, 255);
    border-radius: 0;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.ru-logo {
    margin: 9vh 11vw;
    max-width: 10vw;   
}

.ru-logo-title {
    padding: 3px;
    background-color: rgb(251, 212, 109);
    border-radius: 80px;
    box-shadow: 2px 2px 2px rgb(132, 169, 172);
}

p.logo-ru-link-p-tag {
    color: rgb(30,39,46);
    text-shadow: 2px 2px 2px rgb(132, 169, 172);
    margin-left: 2px; 
    font-weight: 400px;
}

img.ru-logo-title {
    margin-top: -1vw;
    max-width: 2.8vw;
}

.logout-now {
    color: rgb(30,39,46);
}

.logout-now:hover {
    color: rgb(255, 0, 106 );
}

.logout-username {
    color: rgb(2, 176, 141);
    font-size: 18px;
}

@media only screen and (max-width: 960px) {
    .content{ 
        padding: 2rem 0;
    }
    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    article:last-of-type {  
        margin-bottom: 3rem;
    }
    aside {  
        float: none;
        text-align: center;
        width: 100%;
    }
}

a:link {
    text-decoration: none;    
}

.btn {
    border-radius: 0;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);  
}
/* Style the buttons */
.btn-active-button {
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;    
}

/* Style the active class, and buttons on mouse-over */
.active, .btn-active-button:hover {
    background-color: rgb(172, 184, 196);
    color: #222831;
    font-weight: bold;
    padding-top:18px;
    padding-bottom:18px;
    margin: 0 auto;
}

.user-page {
    color: rgb(30,39,46);
    font-size: 18px;
}

.main-management-jumbotron {
    border-radius: 0;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
}

