body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}

.container-wrap {
    max-width: 65vw;
    min-height: 20vh;
    margin: 16vh auto;    
}

.card {
    background-color: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 12px 34px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 12px 34px rgba(0, 0, 0, 1);
    box-shadow: 0 12px 34px rgba(0, 0, 0, 1);
    border-radius: 0;
}

.card-title {
    margin: 0 8vw;
    font-weight: 1000;
    font-size: 1.5vw;
    font: bold;
}

img {
    margin: 0 0 0 12vw;
}

.form-input-username-err {
    border-color: red;
    border-radius: 0;
}
.form-input-password-err {
    border-color: red;
    border-radius: 0;
}
.form-input-text-err-alert {
    color: red;
    border-radius: 0;
}

.input-password, .input-username {
    background-color: rgba(255,255,255,0.5);
    border-radius: 0;
}

.input-password:hover, .input-username:hover {
    border: 1px solid rgb(89, 89, 89);
    border-radius: 0;
}
.btn {
    border-radius: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.btn-primary-click {
    color: #ffffff;
    background-color: rgb(22, 68, 130);
    border-color: rgb(22, 68, 130);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.btn-primary-click:hover {
    border-radius: 0;
    box-shadow: 0 1px 5px 1px rgba(12, 76, 160, 0.5);
    background-color: rgb(12, 76, 160);
    border-color: rgb(12, 76, 160);
}