<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ThaiRequest</filter-name>
        <filter-class>fillter.ThaiRequest</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ThaiRequest</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>getUserAll</servlet-name>
        <servlet-class>com.rulink.control.getUserAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.rulink.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.rulink.login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createUserInformation</servlet-name>
        <servlet-class>com.rulink.control.createUserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserInformation</servlet-name>
        <servlet-class>com.rulink.control.editUserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailUserInformation</servlet-name>
        <servlet-class>com.rulink.control.detailUserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainManagement</servlet-name>
        <servlet-class>com.rulink.control.mainManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userManagement</servlet-name>
        <servlet-class>com.rulink.control.userManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserInformation</servlet-name>
        <servlet-class>com.rulink.control.deleteUserInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUserAll</servlet-name>
        <url-pattern>/getUserAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createUserInformation</servlet-name>
        <url-pattern>/createUserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUserInformation</servlet-name>
        <url-pattern>/editUserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailUserInformation</servlet-name>
        <url-pattern>/detailUserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainManagement</servlet-name>
        <url-pattern>/mainManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userManagement</servlet-name>
        <url-pattern>/userManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserInformation</servlet-name>
        <url-pattern>/deleteUserInformation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
